.card {
  display: flex;
  justify-content: center;
  width: 60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;

  .cardSuit {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    line-height: 20px;
  }
  .cardSuit.♠, .cardSuit.♣ {
    color: black;
  }
  .cardSuit.♥, .cardSuit.♦ {
    color: red;
  }
  .cardType {
    font-size: 1.5rem;
    color: black;
    text-transform: capitalize;
  }
}
